<!DOCTYPE html>
<html>

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link rel="stylesheet" type="text/css"
          href="http://cloud.webtype.com/css/449ba269-4272-460e-bfca-9cfa8eea84ff.css"  />
    <title>PUSH Strength</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" media="screen"
          href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
    <link rel="stylesheet" media="screen"
          href="{{ STATIC_URL }}css/main.css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
  </head>

  <body>
    <div class="container">
      <div class="twitter-button">
        <a class="addthis_button_twitter"
           title="Follow on Twitter" target="_blank"
           href="http://twitter.com/pushstrength">
          <img width="64" height="64" border="0" alt="Follow on Twitter"
                src="https://twitter.com/images/resources/twitter-bird-dark-bgs.png"
               />
        </a>
      </div>
      <div class="text-center">
          <img alt="In PUSH we trust." id="logo"
               src="{{ STATIC_URL }}img/web_logo.png" />
      </div>
      <p class="intro-text text-center">
        We're busy working away on a smart device that can track and analyze
        your weight training. Our goal is to help you increase your strength,
        and there is <strong>strength in numbers.</strong>
      </p>
      <div class="notified text-center">
        <form action="." method="post" id="subscribe-form">
          {% csrf_token %}
          <div class="control-group {% if error %}error{% endif %}">
            <input type="email" placeholder="Enter your Email Address..."
                   class="email-input" value="" name="email" required />
            {% if error %}
            <span class="help-inline">{{ error }}</span>
            {% endif %}
            {% if request.GET.status_message %}
            <span class="help-inline">{{ request.GET.status_message }}</span>
            {% endif %}
          </div>
          <div class="control-group buttons">
            <button type="submit"
                    class="btn get-notified">Get Notified</button>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery.js"><!-- --></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/bootstrap.min.js"><!-- --></script>
  </body>

</html>
